$nav-border: #d7d7d7;
$dark-gray: #999999;

.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $nav-border;
}

.app-header-logo {
 height: 100%;
 .logo-txt {
   margin-top: 0em;
   font-size: 2em;
 }
}


.app-header-nav {
  ul {
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
  }
}



// burger menu styles
.app-header-menu-btn {
  cursor: pointer;
}

.app-header-btn-bar1, .app-header-btn-bar2, .app-header-btn-bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change .app-header-btn-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .app-header-btn-bar2 {opacity: 0;}

.change .app-header-btn-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
// burger menu styles end



@media (min-width: 601px) {
  .app-header-logo {
   flex: 0 0 10%;
  }
  .app-header-menu-container {
    display: none;
  }
  .app-header-nav {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 90%;
    .divider {
      color: $nav-border;
    }
  }
  .app-header-nav-item {
    padding-right: 0.5em;
  }
}

@media (max-width: 600px) {
  .app-header-logo {
   flex: 0 0 15%;
  }
  .app-header-menu-container {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 85%;
  }
  .app-header-nav {
    display: flex;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    width: 90%;
    margin-top: 1.1em;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    background-color: $nav-border;
    .divider {
      color: $dark-gray;
      // display: none;
    }
    ul {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .app-header-nav-active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.4s;
    opacity: 1;
  }
  .app-header-nav-item {
    padding: 0.2em;
  }
}
