//Dev file imports
@import "navbar";

a.team-link:link { color:#000; text-decoration:none; }
a.team-link:visited { color: #222; text-decoration:none; }
a.team-link:hover { color: #666; text-decoration:none; }
a.team-link:active { color: #000; text-decoration:none; }

.team-main-title {
  margin-top: 1em;
  text-align: center;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.cell {
  text-align: center;
  margin: 0 auto;
}

.team-title {
  padding-top: 0.5em;
  font-size: 1.2em;
  font-weight:bold;
}

.team-single {
  padding-top: 2em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.team-single-image {
  padding-bottom: 1em;
}

.team-single-title {
  padding-top: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
}

.team-single-position {
  font-size: 1.2em;
}

.team-single-bio {
  margin: 0 auto;
  padding-top: 1.5em;
}

@media (min-width: 901px) {
  .team-single-bio {
    max-width: 50%;
  }
  .team-single-image {
    max-width: 40%;
  }
  .team-image {
    max-width: 80%;
  }
  .cell {
    flex: 0 0 25%;
    padding: 1.8em;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .team-single-bio {
    max-width: 80%;
  }
  .team-single-image {
    max-width: 50%;
  }
  .team-image {
    max-width: 100%;
  }
  .cell {
    flex: 0 0 30%;
    padding: 1em;
  }
}

@media (max-width: 600px) {
  .team-single-bio {
    max-width: 80%;
  }
  .team-single-image {
    max-width: 50%;
  }
  .team-image {
    max-width: 70%;
  }
  .cell {
    flex: 0 0 100%;
    padding: 1em;
  }
}
