.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d7d7d7; }

.app-header-logo {
  height: 100%; }
  .app-header-logo .logo-txt {
    margin-top: 0em;
    font-size: 2em; }

.app-header-nav ul {
  padding-inline-start: 0px;
  list-style: none;
  display: flex; }

.app-header-menu-btn {
  cursor: pointer; }

.app-header-btn-bar1, .app-header-btn-bar2, .app-header-btn-bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s; }

.change .app-header-btn-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .app-header-btn-bar2 {
  opacity: 0; }

.change .app-header-btn-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

@media (min-width: 601px) {
  .app-header-logo {
    flex: 0 0 10%; }
  .app-header-menu-container {
    display: none; }
  .app-header-nav {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 90%; }
    .app-header-nav .divider {
      color: #d7d7d7; }
  .app-header-nav-item {
    padding-right: 0.5em; } }

@media (max-width: 600px) {
  .app-header-logo {
    flex: 0 0 15%; }
  .app-header-menu-container {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 85%; }
  .app-header-nav {
    display: flex;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    width: 90%;
    margin-top: 1.1em;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    background-color: #d7d7d7; }
    .app-header-nav .divider {
      color: #999999; }
    .app-header-nav ul {
      margin-left: auto;
      margin-right: auto; }
  .app-header-nav-active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.4s;
    opacity: 1; }
  .app-header-nav-item {
    padding: 0.2em; } }

a.team-link:link {
  color: #000;
  text-decoration: none; }

a.team-link:visited {
  color: #222;
  text-decoration: none; }

a.team-link:hover {
  color: #666;
  text-decoration: none; }

a.team-link:active {
  color: #000;
  text-decoration: none; }

.team-main-title {
  margin-top: 1em;
  text-align: center; }

.team-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%; }

.cell {
  text-align: center;
  margin: 0 auto; }

.team-title {
  padding-top: 0.5em;
  font-size: 1.2em;
  font-weight: bold; }

.team-single {
  padding-top: 2em;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.team-single-image {
  padding-bottom: 1em; }

.team-single-title {
  padding-top: 0.5em;
  font-size: 1.4em;
  font-weight: bold; }

.team-single-position {
  font-size: 1.2em; }

.team-single-bio {
  margin: 0 auto;
  padding-top: 1.5em; }

@media (min-width: 901px) {
  .team-single-bio {
    max-width: 50%; }
  .team-single-image {
    max-width: 40%; }
  .team-image {
    max-width: 80%; }
  .cell {
    flex: 0 0 25%;
    padding: 1.8em; } }

@media (max-width: 900px) and (min-width: 601px) {
  .team-single-bio {
    max-width: 80%; }
  .team-single-image {
    max-width: 50%; }
  .team-image {
    max-width: 100%; }
  .cell {
    flex: 0 0 30%;
    padding: 1em; } }

@media (max-width: 600px) {
  .team-single-bio {
    max-width: 80%; }
  .team-single-image {
    max-width: 50%; }
  .team-image {
    max-width: 70%; }
  .cell {
    flex: 0 0 100%;
    padding: 1em; } }

/*# sourceMappingURL=maps/app.css.map */
